bin/
bin-int/

Makefile
*.make

*.sln
*.vcxproj
*.vcxproj.*

*.xcodeproj/

.cache/

compile_commands.json
compile_flags.txt
.clangd

# imgui layout state
imgui.ini

# llvm pulled down by `premake5 fetch-llvm`
ext/llvm/
ext/llvm-staging/
ext/*.tar.xz
